{
  "env": {
    "node": true,
    "commonjs": true
  },
  "extends": [
    "eslint:recommended"
  ],
  "plugins": [
    "@starryinternet/starry"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 12
  }
}
